*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}


:root {
    --1: #BCD3F2;
    --2: #80A4ED;
    --3: #395C6B;
    --4: #D4CB92;
    --5: #E6E1C5;
    --6: #1a733d;

}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


body {
font-family: Orbitron, Arial, Helvetica, sans-serif ;
}


header {
background-color: var(--1);
}


.menu-principal ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: var(--3);
    display: flex; /*flex*/
    flex-wrap: wrap;
    justify-content: space-between;
}


.menu-principal li a {
    display: block;
    text-decoration: none;
    color: var(--5);
    padding: .8em 1em;
}


.menu-principal li a:hover {
    background: var(--6);
}


.menu-principal li {
    flex: 1 0 auto;
    text-align: center;
}


.section {
    background-color: var(--2);
    color: var(--3);
    text-align: center;

    height: 50vh;
    padding-bottom: 25px;
    background-image: url(../media/img/bh2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.form-titulo {
    color: var(--5);
    font-size: 20px;
}


.form{
    max-width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}


.footer {
    background-color: var(--4); 
    color: var(--5);
    padding: 5%;
    text-align: center;
}

